
body {
    background-color: #C5DCF4;
    }
 h1, h2, #foo
 
 ter{
    text-align: center;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}
.left{
    grid-column: 1 / 2;
}


ul{
    font-size: 20px;
    margin-left: 100px;
}
p{
    margin-right: 5%;
    margin-left: 5%;
}


img{
    border-radius: 8px;
    width: 40%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    margin: auto;
}
#map {
    grid-area: map;
    border-radius: 8px;
    height: 60vh;
    width: 50%;
    margin: auto;
}

#footer {
    grid-area: footer;
    margin: auto;
}